@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Kopik Regular
font-family: "kopik", sans-serif;
font-weight: 400;
font-style: normal;
Kopik Regular Italic
font-family: "kopik", sans-serif;
font-weight: 400;
font-style: italic;
Kopik Bold
font-family: "kopik", sans-serif;
font-weight: 700;
font-style: normal;
Kopik Bold Italic
font-family: "kopik", sans-serif;
font-weight: 700;
font-style: italic; */

@font-face {
	font-family: "NCS Radhiumz";
	src: url("fonts/NCSRadhiumz.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	/* font-family: "Poppins", sans-serif; */
	font-family: "kopik", sans-serif;
}

a {
	text-decoration: none !important;
}

p {
	margin: 0 !important;
}

.links {
	display: flex;
	justify-content: flex-end;
}

.links button,
.mail button,
.social-media button,
.social-media-footer button {
	display: flex;
	background-color: transparent;
}

.mail button,
.mail .bx {
	line-height: 30px;
}

.mail-p {
	font-size: 13px;
}

.mail .bx {
	margin-right: 4px;
}

.links a:first-child {
	margin-right: 10px;
}

.logo {
	object-fit: cover;
}

.homepage {
	padding: 4rem 0 !important;
	background-color: rgba(242, 240, 238, 1);
	box-shadow: 2px 3px 50px 3px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 2px 3px 50px 3px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 2px 3px 50px 3px rgba(0, 0, 0, 0.08);
}

.navbar-container {
	margin: 0 auto;
	border-radius: 10px 10px 0 0 !important;
	padding: 2.5rem 2.5rem 0 2.5rem !important;
}

.container,
.navbar-container {
	background-color: #fff;
	max-width: 1150px !important;
}

.container {
	padding-top: 0rem !important;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	padding: 0 2.5rem 2.5rem 2.5rem !important;
	border-radius: 0 0 10px 10px;
}

.social-media {
	margin-top: 16rem;
}

.social-media button {
	margin: 1rem;
}

.portfolio-photo {
	position: relative;
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.portfolio-photo img {
	margin: 1rem;
	max-height: 550px;
	max-width: 550px;
}

.about {
	margin-top: 5rem !important;
	position: relative;
}

.about p {
	margin: 24px 0 !important;
	font-size: 0.875em;
}

.about h1,
.about p {
	font-family: "NCS Radhiumz" !important;
}

.round-button {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #ff7063;
	border: none;
	overflow: hidden;
	cursor: pointer;
	margin-top: 2rem;
	transition: all ease-in 0.2s;
}

.round-button:hover {
	background-color: #ff4d4d;
	scale: 1.05;
}

.inner-circle {
	position: absolute;
	border: 1px solid #fdfdfd;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ff4d4d;
	transition: all ease-in 0.2s;
}

.button-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-weight: 400;
	font-size: 13px;
}

.image-container {
	position: relative;
}

.image-wrapper {
	position: relative;
	overflow: hidden;
	margin-bottom: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px !important;
}

.myworks-photo {
	height: 300px;
	border-radius: 5px !important;
}

.works-single img {
	max-height: 500px;
	padding: 4rem 0 2rem;
}

.myworks-photo,
.works-single img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.works-single-desc {
	padding: 2rem 0;
}

.image-description {
	border-radius: 0 0 5px 5px !important;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	width: 100%;
	padding: 10px;
	transition: opacity 0.3s ease, transform 0.3s ease;
	transform: translateY(100%);

	height: 100%;
	background-image: linear-gradient(
		1deg,
		rgb(241, 177, 80),
		hsla(0, 100%, 80%, 0)
	);
}

.image-description p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 1.238em;
}

.image-wrapper:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	transition: all ease-in 0.2s;
	scale: 1.01;
}

.image-wrapper:hover .myworks-photo {
	filter: brightness(60%);
}

.image-wrapper:hover .image-description {
	/* transition: opacity 0.3s ease, transform 0.3s ease; */
	transition: all 0.5s ease 0s;
	opacity: 1;
	transform: translateY(0);
}

.center {
	display: flex;
	justify-content: center;
}

title {
	text-transform: capitalize;
}

@media (max-width: 992px) {
	.navbar-nav.ms-auto {
		margin-top: 2rem !important;
	}

	.links a {
		display: flex;
		justify-content: center !important;
		margin: 0 auto;
		font-size: 1.2em;
	}

	.links a:first-child {
		margin: 0px !important;
	}
	.homepage {
		padding: 0 !important;
	}
}

.links svg {
	margin-top: 4px;
	margin-right: 4px;
	color: #2e2e2e !important;
}

.mt-12 {
	margin-top: 6em !important;
}

.mt-6 {
	margin-top: 3em !important;
}

.mt-8 {
	margin-top: 4em !important;
}

.mb-6 {
	margin-bottom: 2.5rem !important;
}

.service-text::after {
	content: "";
	display: block;
	width: 40px;
	height: 3px;
	background-color: orange;
	margin-bottom: 10px;
}

.about-us-link {
	background-color: transparent;
}

.logos-container {
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(207, 207, 207, 0.308);
}

.logos-title {
	padding: 1rem 3rem;
}

.logos-container p {
	font-size: 0.875em;
	color: #333;
	line-height: 1.8;
}

.logos-container img {
	width: 100%;
	margin-top: 1rem;
	border-radius: 5px;
}

.works-single h1,
.works-single p {
	font-family: "Poppins", sans-serif !important;
}

.social-media-footer button {
	margin: 1rem;
}
.contact-title {
	font-family: "NCS Radhiumz";
	margin-bottom: 2rem;
}

.contact-form {
	padding: 8em 0 4em;
}
